/**
 * @name {{pseudoCamelCase}}
 * @category CssProps Helper
 * @summary Returns css pseudo selector {{pseudo}} with object of css properties
 *
 * @description
 * Returns an object with the {{pseudo}} pseudo selector with its passed in css properties
 *
 * @param - One or more parameters that will be appended together based on a delimiter
 * @returns {{pseudo}} property as object with object of css properties
 */

import { flatten } from '../../util/index';
export default function {{pseudoCamelCase}}(cssProps) {
    return {
        "&{{pseudo}}": flatten(cssProps)
    };
}
