name: Deploy Website

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - name: Setup Node
              uses: actions/setup-node@v2-beta
              with:
                  node-version: '14.x'

            - run: cd ./website && npm i
            - run: npm run build

            - name: GitHub Action for Firebase
              uses: w9jds/firebase-action@v1.5.0
              with:
                  args: deploy --only hosting
              env:
                  FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
